.list-in-footer {
    list-style-type: none; /* Remove bullets */
    padding: 0; /* Remove padding */
    margin: 0; /* Remove margins */
}

.image-in-footer {
    width: 100%;
    height: 100%;
    display:flex;
    justify-content:center;
    align-items:center;
    img {
        width: 150px;
    }
}

.centering-div {
    width: 100%;
    height: 100%;
    justify-content:center;
}


.list-container-in-footer {
    width: 100%;
    height: 100%;
    display:flex;
    justify-content:center;
    align-items:center;
}